@model IEnumerable<RomaF5patioComidas.Models.Mesa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Patio de Comidas</h1>
    <p>Drink && Food</p>
</div>



<div class="container-md">
    <p>
        <a class="btn btn-primary" asp-action="Create">Crear Mesa</a>
    </p>
    <div class="row align-items-start">
        @foreach (var mesa in Model)
        {
            if (mesa.Estado == true)
            {
                <div class="col">
                    <div class="card-group">
                        <div class="card card text-white bg-danger mb-3">
                            <div align="center" class="card-body">
                                <h5 class="card-title" style="">@mesa.Descripcion</h5>
                                <div class="d-md-inline-flex">
                                    <a class="btn btn-primary btn-sm" asp-route-id="@mesa.IdMesa" asp-area="" asp-controller="Pedido" asp-action="Details" role="button">Detalle</a>
                                    <a class="btn btn-success btn-sm" asp-route-id="@mesa.IdMesa" asp-area="" asp-controller="Pedido" asp-action="Create" role="button">Agregar</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            }
            else if (mesa.Reserva == true)
            {
                <div class="col">
                    <div class="card-group">
                        <div class="card card text-black bg-warning mb-3">
                            <div align="center" class="card-body  ">
                                <h5 class="card-title">@mesa.Descripcion</h5>
                                <div class="form-floating small">
                                    <input style="height:stretch" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">@mesa.NombreReserva</label>
                                </div>
                                <div class="d-md-inline-flex">
                                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Pedido" asp-action="Create" role="button" asp-route-id="@mesa.IdMesa">Pedido</a>
                                    <a class="btn btn-danger btn-sm" asp-action="EliminarReserva" asp-route-id="@mesa.IdMesa">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col">
                    <div class="card-group">
                        <div class="card card text-white bg-success mb-3">
                            <div align="center" class="card-body  ">
                                <h5 class="card-title">@mesa.Descripcion</h5>
                                <div class="d-md-inline-flex">
                                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Pedido" asp-action="Create" role="button" asp-route-id="@mesa.IdMesa">Pedido</a>
                                    <a class="btn btn-warning btn-sm" asp-action="Reserva" asp-route-id="@mesa.IdMesa">Reserva</a>
                                </div>
                                <a class="text-black" asp-action="Delete" asp-route-id="@mesa.IdMesa">Borrar</a>
                                <a class="text-black" asp-action="Edit" asp-route-id="@mesa.IdMesa">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @if (ViewBag.Cobrado != null)
        {
            @*    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
        <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
        </svg>
        @ViewBag.Cobrado
        </div>*@

            <div class="alert alert-success d-flex align-items-center" role="alert">
                <p>
                    @ViewBag.Cobrado
                </p>
            </div>
        }
    </div>
</div>
