@model IEnumerable<RomaF5patioComidas.Models.Mesa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Patio de Comidas</h1>
    <p>Drink && Food</p>
</div>



<div class="container-md">
    <p>
        <a class="btn btn-primary" asp-action="Create">Crear Mesa</a>
    </p>
    <div class="row align-items-start">
        @foreach (var mesa in Model)
        {
            if (mesa.Estado == true)
            {
                <div class="col">
                    <div class="card-group">
                        <div class="card card text-white bg-danger mb-3">
                            <div align="center" class="card-body">
                                <h5 class="card-title" style="">@mesa.Descripcion</h5>
                                <div class="d-md-inline-flex">
                                    <a class="btn btn-primary btn-sm" asp-route-id="@mesa.IdMesa" asp-area="" asp-controller="Pedido" asp-action="Details" role="button">Detalle</a>
                                    <a class="btn btn-success btn-sm" asp-route-id="@mesa.IdMesa" asp-area="" asp-controller="Pedido" asp-action="Create" role="button">Agregar</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            }
            else if (mesa.Reserva == true)
            {
                <div class="col">
                    <div class="card-group">
                        <div class="card card text-black bg-warning mb-3">
                            <div align="center" class="card-body  ">
                                <h5 class="card-title">@mesa.Descripcion</h5>
                                <div class="form-floating small">
                                    <input style="height:stretch" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">@mesa.NombreReserva</label>
                                </div>
                                <div class="d-md-inline-flex">
                                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Pedido" asp-action="Create" role="button" asp-route-id="@mesa.IdMesa">Pedido</a>
                                    <a class="btn btn-danger btn-sm" asp-action="EliminarReserva" asp-route-id="@mesa.IdMesa">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col">
                    <div class="card-group">
                        <div class="card card text-white bg-success mb-3">
                            <div align="center" class="card-body  ">
                                <h5 class="card-title">@mesa.Descripcion</h5>
                                <div class="d-md-inline-flex">
                                    <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Pedido" asp-action="Create" role="button" asp-route-id="@mesa.IdMesa">Pedido</a>
                                    <a class="btn btn-warning btn-sm" asp-action="Reserva" asp-route-id="@mesa.IdMesa">Reserva</a>
                                </div>
                                <a class="text-black" asp-action="Delete" asp-route-id="@mesa.IdMesa">Borrar</a>
                                <a class="text-black" asp-action="Edit" asp-route-id="@mesa.IdMesa">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
