@model RomaF5patioComidas.Models.Pedido

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>Estas seguro de borrar esto?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadMenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadBebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadBebida)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBebidaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBebidaNavigation.IdBebida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMesaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMesaNavigation.IdMesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdmenuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdmenuNavigation.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPedido" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
